<!DOCTYPE html>
<html lang="en">
  <title>Yacht Simulator 2020</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
</html>
<body>
  <canvas id="myChart"></canvas>
  <div class="container">
    <div id="slider-container">
      <input type="range" id="slider" name="vol" min="0" max="100" />
    </div>
  </div>
</body>
<script>
  const numDataPoints = .5 * 60; //2.5 min
  var timeFormat = 'HH:mm:ss';

  var metadata = {};
  metadata.label = window.prompt("Please enter your username");
  metadata.borderColor =
    "rgb(" +
    Math.floor(Math.random() * 256) +
    "," +
    Math.floor(Math.random() * 256) +
    "," +
    Math.floor(Math.random() * 256) +
    ")";
  metadata.fill = false;
  metadata.data = [];
  var labels = [];

  //dont @ me with the old school for loop
  for (var i = numDataPoints; i > 0; i-- ){
    metadata.data.push(null); //add 50 middle of the road elements
    labels.push(moment().subtract(i, "s").format(timeFormat));
  }

  var socket = io(document.location.hostname + ":" + document.location.port);
  var ctx = document.getElementById("myChart").getContext("2d");
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: "line",

    // The data for our dataset
    data: {
      labels: labels,
      datasets: [
        {
          label: "My First dataset",
          borderColor: "rgb(255, 99, 132)",
          data: [0, 10, 5, 2, 20, 30, 45],
          fill: false,
        },
        {
          label: "My Second dataset",
          borderColor: "rgb(20, 99, 132)",
          data: [0, 5, 10, 3, 9, 8],
          fill: false,
        },
      ],
    },

    // Configuration options go here
    options: {
      animation: {duration: 0}

    },
  });

  function updatePersonalDataArray() {
    const slider = document.getElementById("slider");
    metadata.data.shift();
    metadata.data.push(slider.value);
  }

  function updateChart(data) {
    chart.data.datasets = data;
    chart.data.labels.shift();
    chart.data.labels.push(moment().format(timeFormat));
    chart.update();
  }

  socket.on("update", function (msg) {
    updatePersonalDataArray();
    updateChart(msg);
    socket.emit("add", metadata);
  });


</script>
<style>
  input[type="range"] {
    width: 100%;
  }
</style>
